html {
    background-color: #1d232a;
    width: 100%;
}

body {
    
    margin: 0px 0px;
    margin-bottom: 0%;
    transition: 1s;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
  }

.headd {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;

    z-index: 5;
    left: 0%;
    top: 0%;
}

main {
    color: #ffffff;
    transition: 1s;
    width: 100%;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

ul {
    display: flex;
}

ul li {
    display: inline-block;
    flex-wrap: nowrap;
    margin: 0 10px;
}

ul li a {
    color: #ffffff;
    text-transform: uppercase;
    transition: 1s;
}

ul li a:hover {
    color: red;

}

.btn {
    border-radius: 7px;
    border-color: transparent;
    background-color: black;
    
    color: white;
    margin: 35px;
}

button:hover {
    border: solid white;
    border-width: 2px;
}

.box {
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-top: 50px;
    transition: 1s;
    width: 100%;


}


#container {
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: 1s;
    overflow: hidden;
    /* width: 100%; */

    /* margin-left: 50px;
    margin-right: 50px; */

}

.old > img{
    border-radius: 3.5px;
    /* display: block; */
    opacity: 1;
    transition: 0.8s;
}



.old {
    /* border: solid 0.1px aqua; */
    margin-top: 70px;
    width: 233px;
    /* margin-inline: 10px; */
    height: 350px;
    word-wrap: break-word;
    font-size: 50px;
    border-radius: 3.5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    /* position: relative; */
    z-index: 1;
    left: 0%;
    right: 0%;
}

.old:hover {

    transform: translateY(-10px);
    box-shadow: 0px 20px 20px 2px rgba(0, 0, 0, 0.25);
}

.side {
    /* position: fixed; */

    transform: translateX(-310px);
    margin-top: 70px;
    z-index: 1000;

    

    width: 233px;

    height: 350px;
    word-wrap: break-word;
    font-size: 50px;
    border-radius: 3.5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 1.2s;


}

.sidee {
    /* position: fixed; */

    transform: translateX(310px);
    margin-top: 70px;

    z-index: 1000;

    

    width: 233px;

    height: 350px;
    word-wrap: break-word;
    font-size: 50px;
    border-radius: 3.5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 1.2s;

}




#second {

    color: red;
    flex-shrink: 0;
}


.blue {
    margin-top: 50px;
    border: solid 1px aqua;
    margin-right: 50px;
    width: 300px;
    height: 350px;
    word-wrap: break-word;
    font-size: 50px;
    color: white;
    border-radius: 3.5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 1s;
    transition-timing-function: ease;

}

.blue:hover {
    color: black;
    border: solid 1px aqua;
    background-color: aqua;
    box-shadow: 0px 1px 150px -50px aqua;
    z-index: 1000000;



}


.haha {
    margin-top: 50px;
    color: crimson;
    transition: 0.5s;
    width: 300px;
    font-size: 50px;
    border: solid 1px aqua;
    border-radius: 3.5px;
    height: 50px;

}




@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Start transparent */
        
        /* Start 20px lower */
    }



    100% {
        opacity: 1;
        /* End fully visible */
        
        /* Move to original position */
    }

}
video {
    animation: fadeIn ease 2s ;
    opacity: 1;
}












.okay {
    margin-left: 100px;
    color: red;
}

.wow {
    color: white;
}

#new {
    font-size: 50px;
    align-items: center;
    color: orangered;

    padding: 10px;
    transition: 0.5s;
}

#new:hover {
    padding: 0px;
    font-size: 55px;
    
}
